@import './keep/style.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
  font-family: dancingScript;
  src: url(../js/assets/fonts/DancingScript-VariableFont_wght.ttf);
}

body {
    color: #1c1c1f;
    background: linear-gradient(#d7ccfc, transparent),
        linear-gradient(to top left, #e4e9ee, transparent),
        linear-gradient(to top right, #e9c6b3, transparent);
    background-blend-mode: screen;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body, h1 {
    padding: 0;
    margin: 0;
}

iframe{
    border: 0;
}

button {
    cursor: pointer;
}

input, button, select {
    font-family: inherit;
}

input, button, audio {
    outline: 0;
}

input[type='text'] {
    padding: 10px;
 
    color: #a6a6b0;
}

::placeholder {
    color: #a6a6b0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
    margin: 20px 10px;
}

.header {
  background-color: #CA9FB4;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  color:white
}

.footer {
  background-color:#394855;
  text-align: center;
  padding: 10px;
  color: white;
}

.nav > * {
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 15px;
}

/* ANIMATIONS */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}

.bounce-leave-active {
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.user-msg {
  font-size: 18px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #394855;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.welcome-pic{
  margin: 40px;
  border-radius: 15%;
}

.apps-pic{
  margin-top: 50px;
  filter: brightness(0.7);
}

.main-page-msg{
  margin-top: 100px;
  text-align: center;
  font-family: dancingScript;
  font-size: 90px;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.clickable{
  cursor: pointer;
}

@media screen and (max-width: 790px){
  .main-page-msg{
    font-size: 70px;
  }

  .welcome-pic{
    width: 150px;
  }
}

@media screen and (max-width: 630px){
  .main-page-msg{
    font-size: 50px;
  }

  .apps-pic{
    flex-direction: column;
  }

  .welcome-pic{
    width: 200px;
  }
}

@media screen and (max-width: 480px){
  .apps-pic{
    flex-direction: column;
  }
  
  .nav{
    display: none;
  }
}